{% extends "base.html" %} {% block content %} <br /><br /><br /><br />
<div class="col-lg-9">
  <div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Specialization</th>
          <th>experince</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for expert in experts %}
        <tr>
          <td>{{expert.id}}</td>
          <td>{{expert.name}}</td>
          <td>{{expert.email}}</td>
          <td>{{expert.specialization}}</td>
          <td>{{expert.experince}}</td>
          <!-- <td>$999.00</td> -->
          <td>
            <button
              type="button"
              class="btn btn-danger"
              onclick="deleteExpert({{expert.id}})"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
